<!DOCTYPE html>

<section>
  <div class="blog-stripe fluid-container">
<div class="body-adjustment container">
<h1>Contact information:</h1>
<p>
  <a>You can contact me at</a>.
</p>
<p>
  <a>fullmight307@gmail.com</a>
</p>
<p>
  -Cameron Pickerill-Trinitapoli.
</p>
</div>
  </div>
</section>