

<style>
  .main-header {
  }
  .sub-header {
  }
  .body-text {
  }
  .white-text {
    color: white;
  }
</style>
<!-- -->
<!DOCTYPE html>


<!-- -->

<!-- -->

<title><%= yield(:title) %></title>

<section>
  <div class="blog-stripe fluid-container">
    <h1 class="white-text header-adjustment">Lorem Ipsum</h1>
    <h4 class="white-text header-adjustment">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..." </h4>
    <div style="text-align: center" class="fluid-container"><img src="http://res.cloudinary.com/fullmight/image/upload/v1508395144/m6h8m75_talht6.png" style="width:576px;height:324px;">
    <div class=".body-adjustment container">
      <p class="quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis ultrices turpis. Nunc sit amet feugiat sem, quis elementum tellus. Cras finibus fringilla tristique. Nam sed condimentum mauris. Suspendisse vestibulum ante sed nisi iaculis ultricies. In at velit placerat, dapibus mauris a, faucibus neque. Etiam volutpat magna dignissim tincidunt convallis.</p>

      <p>Donec vehicula id tellus ac efficitur. Cras lorem tellus, tincidunt in sagittis ac, tincidunt fringilla dolor. Aliquam quis lacus a arcu mollis maximus. Aenean non quam diam. Maecenas sed mi mi. Proin maximus ante nec imperdiet tempus. Nullam ultricies augue quam, varius tincidunt augue semper sed. Pellentesque dictum venenatis cursus.</p>
      <p></p>
      <p>Donec ut viverra nisl. Nam feugiat tincidunt vehicula. Vestibulum pellentesque velit urna, in auctor sapien vehicula at. Pellentesque id nisl lectus. Duis feugiat tortor a urna lobortis, dignissim mattis nisl faucibus. Quisque ultricies auctor pharetra. Praesent lobortis eros id dui accumsan, ac vehicula turpis egestas. Donec at nibh id felis aliquam placerat.</p>
      <div>
        <dl>
          <p><dt>1968</dt>
          <dd>
            Phasellus sit amet dui nunc. Curabitur sed velit ac ligula malesuada sollicitudin eget non erat. Donec quis arcu sed augue pulvinar lacinia at eu risus. Quisque est quam, lacinia at nunc non, tempor tristique dui. </dd>
          </p>
          <p><dt>1971-72</dt>
          <dd>
            IMorbi nulla odio, ornare ac faucibus sed, scelerisque in libero. </dd>
          </p>
          <p><dt>1975</dt>
          <dd>Duis porttitor, nisl quis venenatis venenatis, odio diam gravida elit, vehicula accumsan sem dolor nec augue.</dd>
          </p>
          <p><dt>1982</dt>
          <dd>Nullam urna ligula, faucibus eu rutrum rutrum, sagittis ac enim.</dd>
          </p>
          <p><dt>1983-2000</dt>
          <dd>Etiam porta auctor efficitur. Sed porta luctus tincidunt. Fusce sodales vel odio quis mattis. Aliquam interdum sapien ac tellus commodo tempus. Cras ut ligula odio. Vestibulum ut feugiat est, vel porta enim.</dd>
          </p>
          <p><dt>2003</dt>
          <dd>Donec eget tempor dui. Phasellus convallis quam velit, in malesuada nisi tempus placerat. Proin eleifend variu sapien, at hendrerit eros eleifend sit amet.</dd>
          </p>
        </dl>
      </div>
    </div>
  </div>
  </div>



</section>

